/* Go to top btn */
.top-btn {
  width: 45px;
  height: 45px;
  background-color: #4d4c4c9d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 10;
  display: flex;
  animation: slide-in-bottom 0.7s;
}

.arrow path {
  fill: white;
}

.text {
  font-size: 0.8em;
  width: 100px;
  position: absolute;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -25px;
  opacity: 0;
  transition-duration: 0.7s;
}

.top-btn:hover .text {
  opacity: 1;
  transition-duration: 0.7s;
}

.btn:hover .arrow {
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*  */

.magnifier-image{
  /* w-full shadow-lg h-full object-cover rounded-lg" */
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.magnifier{
  /* w-full shadow-lg h-full object-cover rounded-lg" */
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}