@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.woff2") format("woff2");
}
@font-face {
  font-family: "Meditative";
  src: url("./assets/fonts/Meditative.ttf") format("truetype");
}
@font-face {
  font-family: "Sfpro";
  src: url("./assets/fonts/sfpro.OTF") format("OTF");
}

*{
  user-select: none;
}

body {
  font-family: "Inter", sans-serif;
}

